@{
    Layout = "default";
    Title = "NašeÚkoly.CZ";
    Description = "A blog aware static site generator in mostly F#";
}
<div class="align-center">
	<h1 class="text-shadow metro-title text-light" style="font-size: 4.5rem; line-height: 1">NašeÚkoly.CZ</h1>
	<div class="padding30 sub-leader text-light">Functional C#,F# and JavaScript Web, Mobile, Office 365, SharePoint and BI Development</div>
						
	</p>
</div>
