@{
    Layout = "default";
    Title = "NašeÚkoly.CZ";
    Description = "A blog aware static site generator in mostly F#";
}

<div class="panel">
    <div class="heading">
        <span class="title">About NašeÚkoly.CZ</span>
    </div>
    <div class="content" id="presentation">
        <iframe width="100%" height="65%" src="http://kimsk.github.io/fsreveal-sample-fsx/FsReveal.html#/" />
    </div>
</div>
