@{
    Layout = "default";
    Title = "NašeÚkoly.CZ";
    Description = "A blog aware static site generator in mostly F#";
}

<div class="panel">
    <div class="heading">
        <span class="title">Technologies</span>
    </div>
    <div class="content">
		<ol class="numeric-list square-marker">
			<li>compatible with <strong>Angular<span class="fg-red">JS</span></strong> and <strong>Require<span class="fg-red">JS</span></strong></li>
			<li>full code refactoring &amp; new components</li>
			<li>declarative approach to the definition of components</li>
			<li>framework itself monitors components, pressure via ajax</li>
			<li>create cool page without knowledge of javascript</li>
			<li>support classic approach to definition of components</li>
		</ol>		
    </div>
</div>

<div class="panel">
    <div class="heading">
        <span class="title">Customers</span>
    </div>
    <div class="content">

		<ul class="simple-list large-bullet">
			<li>Lorem ipsum dolor sit amet</li>
			<li>Consectetur adipiscing elit</li>
			<li>Integer molestie lorem at massa</li>
			<li>Facilisis in pretium nisl aliquet</li>
			<li>Nulla volutpat aliquam velit</li>
			<li>Faucibus porta lacus fringilla vel</li>
			<li>Aenean sit amet erat nunc</li>
			<li>Eget porttitor lorem</li>
		</ul>
    </div>
</div>


<div class="panel">
    <div class="heading">
        <span class="title">About NašeÚkoly.CZ</span>
    </div>
    <div class="content" id="presentation">
        <iframe width="100%" height="60%" src="http://kimsk.github.io/fsreveal-sample-fsx/FsReveal.html#/"></iframe>
    </div>
</div>
